.jumbotron{
    /*background-image: url(../imagenes/banner.jpg);*/
    /*background-color: rgb(0, 255, 242);*/
    background-color: gray;
    text-align: center;
    margin-top: 50px;
    
    
    
}
.jumbotron img{
    max-width: 100%;
}

.btn{
    
}
.card-product{
    flex: 1 250px;
    margin-top: 10px;
    
}
footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(0, 255, 242);
    margin-bottom: 0px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: rgb(0, 255, 242);
}

.btn-primary{
    color: black;
}

.redes-sociales{
    color: black;
}
.patita{
    width: 80px;
    float: left;
}
.icono{
    width: 20px;
}

.ofrecemos{
    text-align: center;
}
.tab-content{
    padding-top: 10px;
}
.btn-modal{
    background-color: black;
    color: white;
}

.suscribete{
    padding-top: 10px;
}

.carousel-inner img {
    
    height: 300px;
}

.carousel-inner{
 height: 320px;
}

