/*
     no olvidar siempre de hacer un cambio en el archivo scss ejecutar

    (*) npm run scss

     este generara un archivo nuevo styles.css para ejecutar e interpretar el archivo scss en el browser
*/
.jumbotron {
  background-color: #858181;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

.jumbotron img {
  max-width: 100%;
}

.card-product {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}

footer {
  background-color: #00fff2;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #00fff2;
}

.btn-primary {
  color: black;
}

.redes-sociales {
  color: black;
}

.patita {
  width: 80px;
  float: left;
}

.icono {
  width: 20px;
}

.ofrecemos {
  text-align: center;
}

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.btn-modal {
  background-color: black;
  color: white;
}

.suscribete {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.carousel-inner img {
  height: 300px;
}

.carousel-inner {
  height: 320px;
}

/*# sourceMappingURL=styles.css.map */
