/*
     no olvidar siempre de hacer un cambio en el archivo scss ejecutar

    (*) npm run scss

     este generara un archivo nuevo styles.css para ejecutar e interpretar el archivo scss en el browser
*/
$yellow : #E6F516;
$red: #FC3721;
$green: #6DF71E;
$blue: #00fff2;
$gray: #858181;
$black: black;
$white: white;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
.jumbotron{
    
    background-color: $gray;
    text-align: center;
    @include margenes(50px, 0px);
    
}
.jumbotron img{
    max-width: 100%;
}

.btn{
    
}
.card-product{
    flex: 1 250px;
    @include margenes(10px, 0px)    
}
footer{
    
    background-color: $blue;
    @include padding(10px, 10px, 0px, 10px);
    @include margenes(20px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: $blue;
}

.btn-primary{
    color: $black;
}

.redes-sociales{
    color: $black;
}
.patita{
    width: 80px;
    float: left;
}
.icono{
    width: 20px;
}

.ofrecemos{
    text-align: center;
}
.tab-content{
    @include padding(10px, 0px, 0px, 0px);
}
.btn-modal{
    background-color: $black;
    color: $white;
}

.suscribete{
    @include padding(10px, 0px, 0px, 0px);
}

.carousel-inner img {
    
    height: 300px;
}

.carousel-inner{
 height: 320px;
}

